*{
    /* У всех div есть свой общий размер - от которого и отъедается растояние (а не +) */
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background: #E5E5E5;
}

.header {
    padding: 6px 0px 6px 0px;
    background: #0050B3;
}

.header-block{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.search-input{
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    width: 336px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    padding: 5px 30px 5px 12px;
    background-image: url(../img/search-icon.svg);
    background-repeat: no-repeat;
    background-position: right 12px center;
    outline: none;
}

.navigation{
    display: flex;
    align-items: center;
}

.user{
    display: flex;
    align-items: center;
}

.user-avatar{
    margin-right: 8px;
}

.user-name{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
}

.navigation-panel{
    margin-left: 12px;
    display: flex;
    align-items: center;
}

.navigation-link{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    margin-left: 12px;
}

.navigation-link::before{
    margin-right: 12px;
    content: "";
    width: 1px;
    height: 16px;
    background: #003A8C;

}

.navigation-link:last-child:after{
    margin-left: 12px;
    content: "";
    width: 1px;
    height: 16px;
    background: #003A8C;
}

.navigation-link:hover{
    color: black;
}

.icons-panel{
    display: flex;
    align-items: center;
}

.icon-link{
    display: flex;
    align-items: center;
    margin-left: 17px;
}

.header-icon{
    fill: #002766;
}

.header-icon:hover{
    fill: white;
}

.icon-link:last-child::before{
    content: "";
    width: 1px;
    height: 16px;
    background: #003A8C;
    margin-right: 12px;
}

.container{
    display: flex;
    max-width: 1200px;
    margin: auto;
}

.menu-sidebar{
    max-width: 192px;
    flex-grow: 1; /* оно же -> width: 192px;  */
    margin-top: 18px;
    margin-right: 12px;
}

.menu-sidebar .user{
    margin-left: 10px;
}

.menu-sidebar .user-avatar{
    width: 24px;
    height: 24px;
}

.menu-sidebar .user-name{
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #262626;
}

/* Если 2 таких блока рядом друг с другом - 
происходит схлопывание вертикальных отступов  */
.nav-group{
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Фишка в этом*/
    margin-top: 12px;
    margin-bottom: 24px;
}

.nav-link{
    padding: 4px 8px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #595959;
    line-height: 22px;
    font-weight: normal;
    font-size: 14px;
}

.nav-link.active{
    background: #FFFFFF;
    color: #262626;
    border-radius: 4px;
}

.nav-link:hover{
    
}

.nav-text{
    margin-left: 8px;
}

.nav-title{
    padding-left: 10px;
    margin-bottom: 4px;
    margin-top: 0px;
    color: #262626;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
}

.main-feed{
    margin-top: 18px;
    max-width: 588px;
    flex-grow: 1; /* оно же -> width: 588px;  */
}

.create-post{
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    /* Всё что вываливается за этот блок */
    overflow: hidden;
}

.create-post-header{
    background: #F5F5F5;
    padding: 9px 16px;
}

.create-post-title{
    margin: 0px;
    color: #595959;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
}

.create-post-body{
   padding: 16px 16px 24px 16px;
   display: flex;
   align-items: flex-start;
}

.create-post-input{
    padding-top: 8px;
    width: 100%;
}

.create-post-footer{
    display: flex;
    align-items: center;
    padding: 0px 16px 16px 16px;
    flex-wrap: wrap;
}

.create-post-footer::before{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #E8E8E8;
    margin-bottom: 16px;
}

.teg{
    background: #F5F5F5;
    border-radius: 48px;
    border: none;
    padding: 9px 12px;
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.teg:hover{
    background: rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

/* Убрать обводку */
.teg:focus{
    outline: none;
}

.teg-icon{
    margin-right: 8px;
}
